/* * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
} */
body{
    overflow-x: hidden !important;

}
.header{
    width: 100%;
    height: 85vh;
    background-image: url(images/image2.png);
    background-size: cover;
    background-position: right;
}
.topbar{
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0,0,0, .65);

}
nav{
width: 45%;
height: 100%;
display: flex;
align-items: center;
justify-content: space-between;


}
nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    list-style-type: none;
    width: 75%;

}

nav a{
font-size: 1.25rem;
font-weight: 600;
color: white;
text-decoration: none;
}

nav a:hover{
    color: #F19201;
}
nav button{
    background-color:#F19201 ;
    color: white;
    padding: 1.25rem 1.5rem;
    font-size: 1.25rem;
}
.logo{
    display: flex;
    align-items: center;

}
.logo h2{
    color: #F19201;
    margin-left: 1rem;
    font-size: 1.5rem;
}

.landing{
    color: white;
    width: 45%;
    margin-left: 5rem;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.landing h1{
    font-size: 4rem;

}
.landing button{
    background-color:#F19201 ;
    width: 10rem;
    padding: 1.2rem 1rem;
    font-size: 1.2rem;
    color: white;
    align-self: start;
    margin-left: 4.5rem;
}
.services h2{
    color: #F19201;
    text-align: center;
    padding: 20px;
    font-size: 30px;

}
.services p{
    text-align: center;
    font-style: italic;
    padding-bottom: 40px;
    
}
.container{
    display: flex;
    text-align: center;
    font-style: italic;
    width: 70%;
    margin-left: 15%;

}
.allservice{
    background-color:#c1c1c0 ;
    padding-bottom: 50px;
}
.one{
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 50px;
    width: 30%;

}
.one h1{
    background-color: #F19201;
    border-radius: 50%;
    padding-left: 30px;
    margin-bottom: 20px;
    
}
.one h2{
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 20px;
    font-style: normal;
}
.one h3{
    font-style: italic;
}
.secondpic{
    display: flex;
    background-color: red;

}
.reviews{
    width: 50%;


}
.blackbackground{
    display: flex;

}
.blackimage{
    width: 50%;
    background-color: black;
    color: white;
    text-align: center;
    font-style: italic;
}
#blackimage{
    width: 90%;
}
.menu h1{
    color: #F19201;
    text-align: center;
    padding: 20px;
    margin-top:-10px;
}
.menu p{
    text-align: center;
    font-style: italic;
}
.menu{
    background-color: #c1c1c0;
    padding-bottom: 20px;
}
.rowone{
    display: flex;
    margin-left: 10%;
    width: 80%;
    background-color: #fff;
   
}
.chapati{
    width: 50%;
    display: flex;

}
.chapati img{
    height: 300px;
    width: 400px;
    padding: 20px;
}
.details{
    padding-left: 20px;
}
.orderlist{
    background-color: #c1c1c0;
}
.footer{
    background-image: url(images/image8.png);
    padding: 70px 10px 120px 10px;
    text-align: center;
    color: white;
    background-size: cover;
    background-position: bottomg;
   
}
.button{
    background-color: transparent;
    color: white;
    padding: 5px 20px 5px 20px;
    border: solid 2px white;
}
.footertxt{
    color: white;
    padding: 10px;
    text-align: center;
    background-color: black;

}